:root {
  --tx: 0;
  --tz: 0;
  --ty: 0;
  --cell-size: 100px;
  --board-padding: min(10vh, 10vw);
}

@font-face {
  font-family: font_main;
  src: url("../../font/kg-red-hands/KGRedHands.ttf");
}
@font-face {
  font-family: font_button;
  src: url("../../font/kg-red-hands/KGRedHandsOutline.ttf");
}
#tictactoe {
  cursor: url("../../img/cursor/cursor.svg"), auto;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to top, #c582b2 0%, #6c8bc0 100%);
  user-select: none;
  color: white;
  font-family: font_main, sans-serif;
}
#tictactoe .main-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(5vh, 5vw);
}
#tictactoe .main-page .title {
  font-size: min(10vh, 10vw);
  letter-spacing: 0.2rem;
  text-shadow: 15px 15px 25px #10205386;
}
#tictactoe .main-page .title:hover {
  text-shadow: 0 10px 10px rgba(226, 158, 209, 0.5);
}
#tictactoe .main-page .board {
  position: relative;
  border-radius: 25%;
  background-image: linear-gradient(to bottom, #e7a7d5 0%, #84a2d6 100%);
  height: auto;
  width: auto;
  box-shadow: 0 10px min(10vw, 10vh) rgba(28, 45, 90, 0.7);
}
#tictactoe .main-page .board:hover {
  box-shadow: 0 10px min(10vw, 10vh) rgba(226, 158, 209, 0.7);
}
#tictactoe .main-page .board .cells {
  z-index: 10;
  padding: var(--board-padding);
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-auto-rows: 30%;
  gap: 5%;
  justify-content: space-evenly;
  align-content: space-around;
}
#tictactoe .main-page .board .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("../../img/cursor/cursor-yes.svg"), pointer;
}
#tictactoe .main-page .board .cells .cell .mark-img,
#tictactoe .main-page .board .cells .cell .mark-img-hover {
  pointer-events: none;
  max-width: 100%;
  min-width: 70%;
}
#tictactoe .main-page .board .cells .cell .mark-img-hover {
  opacity: 0;
}
#tictactoe .main-page .board .cells .cell.x, #tictactoe .main-page .board .cells .cell.o {
  cursor: url("../../img/cursor/cursor-no.svg"), not-allowed;
}
#tictactoe .main-page .board .cells .cell:hover .mark-img-hover {
  animation: hoverMark 0.5s;
  -webkit-animation: hoverMark 0.5s;
  opacity: 0.5;
}
@-webkit-keyframes hoverMark {
  from {
    opacity: 0;
    transform: translateY(-25%) scale(120%);
  }
}
@keyframes hoverMark {
  from {
    opacity: 0;
    transform: translateY(-25%) scale(120%);
  }
}
#tictactoe .main-page .board .cells .cell.in {
  pointer-events: none;
}
#tictactoe .main-page .board .cells .cell.in .mark-img {
  animation: placeMark 0.5s;
  -webkit-animation: placeMark 0.5s;
}
@-webkit-keyframes placeMark {
  from {
    opacity: 0;
    transform: rotateZ(-180deg);
  }
}
@keyframes placeMark {
  from {
    opacity: 0;
    transform: rotateZ(-180deg);
  }
}
#tictactoe .main-page .board .cells .cell.out {
  pointer-events: none;
}
#tictactoe .main-page .board .cells .cell.out .mark-img {
  animation: removeMark 0.5s;
  -webkit-animation: removeMark 0.5s;
}
@-webkit-keyframes removeMark {
  to {
    opacity: 0;
    transform: translateY(-25%);
  }
}
@keyframes removeMark {
  to {
    opacity: 0;
    transform: translateY(-25%);
  }
}
#tictactoe .main-page .board .cells .cell.x.glow .mark-img {
  animation: spin 1s linear infinite;
}
#tictactoe .main-page .board .cells .cell.o.glow .mark-img {
  animation: spin 1s linear infinite;
}
#tictactoe .main-page .board .board-svg {
  pointer-events: none;
  margin: var(--board-padding);
  max-height: min(50vw, 50vh);
}
#tictactoe .main-page .bg-svg {
  pointer-events: none;
  position: fixed;
  margin: auto;
}
#tictactoe .main-page .bg-svg.front {
  filter: blur(2px);
  transition: transform 0.5s linear;
  will-change: transform;
  transform: translateX(var(--tx)) translateY(var(--ty));
}
#tictactoe .main-page .bg-svg.back {
  filter: blur(5px);
  transition: transform 0.5s linear;
  will-change: transform;
  transform: translateX(calc(var(--tx) / 4)) translateY(calc(var(--ty) / 4));
}
@media (orientation: landscape) {
  #tictactoe .main-page .bg-svg {
    top: 0;
    bottom: 0;
  }
  #tictactoe .main-page .bg-svg.front.left {
    height: 150vh;
    right: 55vw;
  }
  #tictactoe .main-page .bg-svg.front.right {
    height: 130vh;
    left: 65vw;
    margin-top: 10vh;
  }
  #tictactoe .main-page .bg-svg.back {
    width: 25vw;
  }
  #tictactoe .main-page .bg-svg.back.left {
    right: 65vw;
  }
  #tictactoe .main-page .bg-svg.back.right {
    left: 70vw;
  }
  #tictactoe .main-page .bg-svg.back.mid {
    height: 110vh;
  }
}
@media (orientation: portrait) {
  #tictactoe .main-page .bg-svg {
    left: 0;
    right: 0;
  }
  #tictactoe .main-page .bg-svg.front.left {
    height: 120vw;
    bottom: 55vh;
    margin-left: 0vw;
    transform: rotate(120deg) translateX(var(--ty)) translateY(var(--tx));
  }
  #tictactoe .main-page .bg-svg.front.right {
    height: 140vw;
    top: 60vh;
    margin-left: -10vw;
    transform: rotate(90deg) translateX(var(--ty)) translateY(var(--tx));
  }
  #tictactoe .main-page .bg-svg.back {
    height: 50vh;
  }
  #tictactoe .main-page .bg-svg.back.left {
    top: 0;
    right: 65vw;
  }
  #tictactoe .main-page .bg-svg.back.right {
    bottom: 0;
    left: 70vw;
  }
  #tictactoe .main-page .bg-svg.back.mid {
    display: none;
  }
}
#tictactoe .main-page.blur {
  filter: blur(5px);
}
#tictactoe .main-page.focus {
  animation: blurOut 0.7s;
  -webkit-animation: blurOut 0.7s;
}
@-webkit-keyframes blurOut {
  from {
    filter: blur(5px);
  }
  to {
    filter: none;
  }
}
@keyframes blurOut {
  from {
    filter: blur(5px);
  }
  to {
    filter: none;
  }
}
#tictactoe .end-game-interface {
  display: none;
  position: fixed;
  transform-style: preserve-3d;
  transform: perspective(800px);
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: min(10vh, 10vw);
}
#tictactoe .end-game-interface .end-game-message {
  font-size: min(15vh, 15vw);
  letter-spacing: 0.05em;
}
#tictactoe .end-game-interface .end-game-message .mark-img {
  width: 1em;
  animation: spin 1s alternate infinite;
}
#tictactoe .end-game-interface .restart-button {
  --bt_tz: 0;
  --bt_ty: 0;
  --bt_rx: 0;
  --bt_ry: 0;
  font-size: min(7vh, 7vw);
  position: relative;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
  cursor: url("../../img/cursor/cursor-yes.svg"), pointer;
  user-select: none;
  color: white;
}
#tictactoe .end-game-interface .restart-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 150px;
  transition: box-shadow 0.5s ease, transform 0.2s ease;
  will-change: transform;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  transform: translateY(var(--bt_ty, 0)) rotateX(var(--bt_rx, 0)) rotateY(var(--bt_ry, 0)) translateZ(var(--bt_tz, -12px));
}
#tictactoe .end-game-interface .restart-button:hover::before {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}
#tictactoe .end-game-interface .restart-button::after {
  font-family: font_button;
  position: relative;
  display: inline-block;
  content: attr(data-title);
  transition: transform 0.2s ease;
  font-weight: bold;
  letter-spacing: 0.05rem;
  will-change: transform;
  transform: translateY(var(--bt_ty, 0)) rotateX(var(--bt_rx, 0)) rotateY(var(--bt_ry, 0));
}
#tictactoe .end-game-interface .links {
  display: flex;
  gap: 1vw;
}
#tictactoe .end-game-interface .links a {
  cursor: url("../../img/cursor/cursor-yes.svg"), pointer;
  width: auto;
  height: auto;
}
#tictactoe .end-game-interface .links a img {
  width: 2vw;
}
#tictactoe .end-game-interface.show {
  display: flex;
  animation: fadeIn 0.7s;
  -webkit-animation: fadeIn 0.7s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#tictactoe .end-game-interface.out {
  display: flex;
  animation: fadeOut 0.7s;
  -webkit-animation: fadeOut 0.7s;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=tictactoe.css.map */
